@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

body{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

:root{
  --error: rgb(233, 0, 0);
  --primaryText: rgb(220, 220, 220);
  --dark: rgb(21, 22, 26);
  --dark-transparent: rgba(21,22,26,0.5);
  --dark-light: rgb(26, 27, 33);
  --reddish: rgb(255, 90, 90);
  --reddish-light: rgb(255, 76, 76);
  --yellowish: rgb(255, 213, 99);
  --yellowish-light: rgb(255, 205, 68);
}



/* login form */
.terminal-form .form-control label{
  font-weight: bold;
}
.terminal-form input{
  color: var(--primaryText);
  margin-left: 0.25rem;
  background: none;
  border: none;
  outline: none;
  pointer-events: none;
  font-weight: bold;
  font-size: 1rem;
}
.terminal-form .form-control{
  visibility: hidden;
}
.terminal-form .form-control.active{
  visibility: visible;
}

@media screen and (max-width: 650px) {
  .main{
    display: block;
  }
}


